@model Yemen_Broker.Models.Ad


<div style="border:1px dotted #808080;border-radius:10px;margin:0 5px 20px 5px;" class="row">

    <div style="margin:5px 5px 5px -5px; " class="col-md-3 float-left">
        <img src="~/Uploads/@Html.DisplayFor(m => m.Pictures.FirstOrDefault().PictureURL)"style="width:270px;height:170px;" alt="img1">
    </div>
    <div class="col-md-9 float-right">
        <div>
            <div class="col-md-10">
                <h3>@Html.DisplayFor(m => m.AdTitle)</h3>
                <div style="text-align:left;">
                    <i class="glyphicon glyphicon-map-marker"></i>  @Html.DisplayFor(m => m.City.Name)
                </div>
                <div style="text-align:left;">
                    <i class="glyphicon glyphicon-th"></i> @Html.DisplayFor(m => m.AdDescribtion)
                </div>
                <br />
                <div style="text-align:center;margin:10px 10px 10px 0;">
                    <div class="col-md-4 float-left" style="margin:6px 5px 0 0;text-align:center;background-color:royalblue;height:50px; width:200px;padding-top:15px;">
                        <a href="/Messages/Chat/@ViewBag.adminId" style="color:white;">
                            <div><b><i class="glyphicon glyphicon-envelope float-left"></i> Chat with Admin </b></div>
                        </a>
                    </div>
                    <div class="col-md-4" style="margin:6px 5px 0 0;text-align:center;background-color:orange;height:50px; width:200px;padding-top:15px;">
                        <a href="/Ads/Edit/@Model.AdId" style="color:white;">
                            <div><b><i class="	glyphicon glyphicon-edit"></i> Update</b></div>
                        </a>
                    </div>
                    <div class="col-md-4" style="margin:6px 5px 0 0;text-align:center;background-color:darkred;height:50px; width:200px;padding-top:15px;">
                        <a href="/Ads/Delete/@Model.AdId" style="color:white;">
                            <div><b><i class="glyphicon glyphicon-trash"></i>  Delete</b></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 float-right">
                @if (Model.Confirmed)
                {
                    <div style="padding:5px;background-color:forestgreen;color:white;margin-top:-15px; border-radius:50px;border:1px dotted #808080;text-align:center;"><b>Active</b></div>
                }
                else
                {
                    <div style="padding:5px;background-color:red;color:white;margin-top:-15px; border-radius:50px;border:1px dotted #808080;text-align:center;"><b>Inactive</b></div>

                }

                <h4 style="color:red;"><b>YR @Html.DisplayFor(m => m.AdPrice)</b></h4>
                <img src="~/Content/images/Lpgin.png" class="img-circle " style="width:60px;height:60px;text-align:center;border:solid 2px #f1f1f1;border-radius:50px;margin:5px 0 0 25px;" />
                <div style="margin:4px 0 0 0;text-align:center;background-color:#f0f0f0;height:50px; width:100px;padding-top:15px;">
                    <a href="/Ads/Details/@Model.AdId" style="color:black;">
                        <div><b><i class="glyphicon glyphicon-info-sign"></i>  see more</b></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
